@font-face {
    font-family: 'clock';
    src: url('assets/fonts/digital-7.ttf') format('truetype'),
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
}

.clock {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'clock';
}

#date {
    font-family: 'clock';
}

.controls {
    text-align: center;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

#records {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#records th, #records td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#records th {
    background-color: #f9f9f9;
}

#records tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}


/* New Style Overwrite */
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.clock {
    font-size: 4em;
    text-align: center;
    margin-bottom: 20px;
}
.controls {
    text-align: center;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    margin: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
#records {
    width: 100%;
    border-collapse: collapse;
}
#records th, #records td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#records th {
    background-color: #f2f2f2;
}
#records tfoot td {
    font-weight: bold;
}

table#export-heading {
    border: 0;
    margin-top: 0;
}

table#export-heading tr,table#export-heading td {
    border: 0 !important;
    background-color: transparent !important;
}

table#export-heading tr td:first-child {
    vertical-align: top;
}

/* Remove Button */
button.remove-btn {
    font-size: 22px;
    border: 0;
    padding: 0px;
    line-height: 1;
    background-color: transparent;
    margin: 0 auto;
    display: block;
    height: 22px;
}


/* Export Custom Design */
#records.export td {
    padding: 4px;
    line-height: 1;
}

#records.export tfoot#recordTableFooter td {
    padding: 6px 0 5px 4px;
}

#records.export tfoot#recordTableFooter td:not(#totalHours) {
    text-align: right;
    padding-right: 10%;
}

table#export-heading td.heading {
    width:20%;
}

table#export-heading td:not(.heading) {
    width:40%;
}

table#export-heading {
    margin-bottom:10px;
}

/* Table footer */
tfoot#recordTableFooter td:not(#totalHours) {
    text-align: right;
    padding-right: 10%;
}

